ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
  margin-left: 100px;
}

li {
  display:inline-block;
  margin-top:0px;
  line-height:20px;
  margin-right: 80px;
}

canvas {
  border: solid 1px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance:textfield;
}

#shape-buttons {
  margin-bottom: 20px;
  text-align: center;
}

#shape-buttons a {
  margin-left: 15px;
  width: 50px;
}

#canvas-wrapper {
  text-align: center;
}

#canvas-right {
  margin-left: 130px;
}

#draw-buttons {
  margin-top: 30px;
  position: absolute;
  right: 120px;
}

#draw-buttons a {
  margin-left: 15px;
}
